body {
    background-color: #272727;
    font-family: 'DM Sans', sans-serif;
}

.primary-btn {
    background: #00FF85;
    border: none;
    border-radius: 6px;
}

.secondary-btn {
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
}



                                            /* media min-width 390px */
@media screen and (max-width: 390px) {
    .header {
        position: relative;
        margin: 0;
    }

    .header__hamburger-menu {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .header_wrapper,
    .header__nav,
    .header__nav-ul,
    .header__nav-li,
    .header__nav-li a,
    .header__social-icons,
    .header__social-icons img {
        display: none;
    }

                                                /* body HERO */
    .body {
        margin-bottom: 109px;
        position: relative;
    }

    .body-hero {
        width: 390px;
        height: 880px;
        position: relative;
        overflow: hidden;
        margin-bottom: 50px;
    }

    .body-hero__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -50;
    }

    .body-hero__fringes-up {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -50;
    }

    .body-hero__fringes-up-desktop {
        display: none;
    }
    
    .body-hero__fringes-down {
        position: absolute;
        width: 391px;
        height: 220px;
        z-index: -50;
        bottom: 0px;
        left: 0px;
    }

    .body-hero__arrow-down {
        position: absolute;
        z-index: -50;
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .body-hero__site-label {
        width: 154px;
        height: 70px;
        position: absolute;
        top: 246px;
        left: 6.68px;
    }

    .body-hero__site-label p {
        width: 128px;
        height: 38px;
        font-size: 27px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 7.65917px rgba(0, 0, 0, 0.25);
        border-radius: 9.37378px;
        text-transform: uppercase;
        padding: 10px 67px 10px 67px;
        font-weight: 500;
    }

    .body-hero__site-label__p2 {
        position: absolute;
        top: 28.36px;
        left: 18.56px;
        transform: rotate(-5.13deg);
    }

    .body-hero__label-1 {
        color: #fff;
        font-size: 33px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.02em;
        position: absolute;
        top: 326px;
        left: 20px;
    }

    .body-hero__label-2 {
        position: absolute;
        width: 332px;
        height: 84px;
        left: 13.06px;
        top: 363.22px;
        font-weight: 400;
        font-size: 98px;
        line-height: 84px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    .body-hero_label-content {
        position: absolute;
        width: 324.5px;
        height: 75px;
        left: 18.3px;
        top: 459.2px;
        display: flex;
        flex-direction: column;
    }

    .body-hero_label-content p:first-of-type {
        font-weight: 700;
    }

    .body-hero_label-content p {
        font-weight: 700;
        font-size: 22.5px;
        line-height: 25px;
        color: #FFFFFF;
        font-weight: 400;
        text-transform: uppercase;
    }

    .body-hero__buttons {
        position: relative;
        top: 605px;
        left: calc(50% - 352px/2);
        width: 352px;
        height: 98px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .body-hero__buttons button {
        width: 100%;
        padding: 0px 48px;
        height: 44px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
    }

    /* section INFO */
    .body-info {
        width: 352px;
        height: 830.07px;
        margin: 0 auto 60px auto;
        position: relative;

    }

    .body-info__title {
        margin-bottom: 12.5px;
    }

    .body-info__title p {
        width: 135px;
        height: 62px;
        font-family: 'Codystar';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 62px;
        letter-spacing: -0.01em;
        color: #00FF85;
    }

    .body-info__content-1 p {
        width: 332.05px;
        height: 351.35px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        margin-bottom: 35px;
    }

    .body-info__content-2 {
        width: 350.6px;
        height: 370px;
    }

    .body-info__content-2 p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
    }

    .body-info__content-2 p:first-of-type {
        margin-bottom: 30px;
    }
                                                    /* section SCHEDULE */
    .body-schedule-section {
        margin-bottom: 30px;
    }

    .body-schedule {
        width: 352px;
        height: 1035px;
        margin: 15px 19px 0px 19px;
    }

    .body-schedule__title {
        margin-top: 60px;
        margin-bottom: 15px;
        width: 302px;
        height: 62px;
        font-family: 'Codystar';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 62px;
        letter-spacing: -0.01em;
        color: #00FF85;
    }

    .body-schedule__schedule-wrapper {
        width: 352px;
        border-top: 1px dashed #ffffff;
    }

    .body-schedule__schedule-wrapper:last-of-type {
        border-bottom: 1px dashed #ffffff;
    }

    .body-schedule__schedule-wrapper__title {
        padding: 13px 0px;
        width: 100%;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 29px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .body-schedule__schedule-wrapper__title-date {
        font-weight: 700;
    }

    .body-schedule__schedule-wrapper__btn {
        width: 100%;
        margin-bottom: 17px;
        height: 38px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
    }

                                        /* section CONTACTS */
    .body-contacts {
        width: 390px;
        /* height: 736px; */
        padding: 2px 17px 0px 17px;
    }

    .body-contacts__title h2 {
        font-family: 'Codystar';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 62px;
        letter-spacing: -0.01em;
        color: #00FF85;
        margin-bottom: 25px;
    }

    .body-contacts__title p {
        width: 352px;
        height: 100px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        margin-bottom: 35px;
    }

    .body-contacts__form form {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .body-contacts__form label {
        color: #ffffff;
        display: block;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        margin-bottom: 6px;
    }

    .body-contacts__form-input,
    .body-contacts__form-txtarea {
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.01em;
        color: #646464;
        opacity: 1;
        background-color: #303030;
        border: none;
        padding: 7.5px 0px 5.5px 9.75px;
    }

    .body-contacts__form-submit {
        width: 100%;
        height: 44px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        color: #343434;
    }

                                            /* FOOTER */
    .footer {
        width: 390px;
        height: 280px;
        position: relative;
        background-color: black;
        z-index: -60;
    }

    .footer__pattern {
        position: absolute;
        top: -34px;
        left: 0px;
        z-index: -50;
    }

    .footer__site-label {
        position: absolute;
        left: 22.56px;
        top: 84.32px;
    }

    .footer__site-label p {
        width: 128px;
        height: 38px;
        font-size: 27px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 7.65917px rgba(0, 0, 0, 0.25);
        border-radius: 9.37378px;
        text-transform: uppercase;
        padding: 10px 67px 10px 67px;
        font-weight: 500;
    }

    .footer__xide-logo {
        position: absolute;
        left: 283px;
        top: 85.64px;
    }

    .footer__copyright {
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .footer__copyright p {
        width: 100%;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #FFFFFF;
    };
    
    .footer__copyright-span {
        font-weight: 700;
    }
}

@media screen and (min-width: 1400px) {

    .header {
        position: relative;
        margin-left: 55px;
        margin-right: 55px;
    }

    .header__hamburger-menu {
        display: none;
    }

    .header_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 55px;
        width: 100%;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header__nav-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .header__nav-li a {
        color: #ffffff;
        text-decoration: none;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .header__social-icons {
        display: flex;

    }



    .body-hero__fringes-up {
        display: none;
    }

    .body-hero__fringes-up-desktop {
        position: absolute;
        left: 229.49px;
        top: 0;
    }
}
