body {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.body__hr {
    width: 100%;
    height: 2rem;
    background-color: black;
}

.primary-btn {
    background-color: #1B71FF;
    border: #1B71FF;
    color: #ffffff;
    width: 241px;
    height: 61px;
    font-weight: bold;
}

.secondary-btn {
    padding: 30px 120px;
    background-color: #ffffff;
    color: #1B71FF;
    border: none;
    box-shadow: 20px 20px 50px 0px #E1E1E6CC;

}

/* header */

.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 50px auto 0 auto;
}

.header__navigation-nav__ul {
    display: flex;
    width: 509px;
    justify-content: space-between;
}

.header__navigation-nav__li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.header__navigation-nav__li-clicked a {
    color: #1B71FF;
}


/* Body */

/* Section Cyber Security */

.body-section__cyber-security {
    /* background-image: linear-gradient(to right, #d5f2f0, #ceecf0, #cae5f0, #c8deee, #c9d6ea, #d3d4e8, #ddd1e4, #e4d0de, #eed6db, #f3deda, #f3e7de, #f3f0e6); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.body-section__cyber-security__bg-left {
    position: absolute;
    content: "";
    width: 100vh;
    height: 100vh;
    top: 0px;
    left: -30vh;
    background-color: #AFF7EC;
    opacity: 1;
    mix-blend-mode: hard-light;
    border-radius: 100%;
    z-index: -5;
    filter: blur(200px);
    overflow: auto;
}

.body-section__cyber-security__bg-center {
    position: absolute;
    content: "";
    width: 100vh;
    height: 100vh;
    top: 0px;
    left: 50vh;
    background-color: #A5A2CD;
    opacity: .5;
    border-radius: 100%;
    z-index: -10;
    filter: blur(516px);
    overflow: auto;
}
.body-section__cyber-security__bg-right {
    position: absolute;
    content: "";
    width: 100vh;
    height: 100vh;
    top: 0px;
    right: 0px;
    background-color: #F9EDC8;
    opacity: 0.4;
    mix-blend-mode: soft-light;
    border-radius: 100%;
    z-index: -5;
    filter: blur(200px);
    overflow: auto;
}

.section__cyber-security {
    width: 1604px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem auto 0 auto;
    position: relative;
    gap: 50px;

}

.section__cyber-security__wrapper {
    position: relative;
}

.section__cyber-security__wrapper img {
    position: absolute;
    top: -80%;
    right: 17%;
}

.section__cyber-security__wrapper h1 {
    font-weight: 700;
    font-size: 72px;
    font-style: bold 700;
    fill: solid;
    stroke: solid;
    letter-spacing: 2%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section__cyber-security p {
    font-size: 18px;
    text-align: center;
    width: 87%;
}


/* SECTION Providers*/

/* this parent moves alongside with his chield - body-section__providers-wrapper margin */
/* overflow fixes this issue */
.body-section__providers {
    width: 100%;
    height: 100vh;
    z-index: -10;
    position: relative;
    overflow: hidden;
}

.body-section__providers__bg-right {
    position: absolute;
    content: "";
    width: 100vh;
    height: 100vh;
    top: 50vh;
    right: -50vh;
    background-color: #F9EDC8;
    opacity: 0.35;
    mix-blend-mode: soft-light;
    border-radius: 100%;
    z-index: -5;
    filter: blur(200px);
    overflow: auto;
}

.body-section__providers-wrapper {
    max-width: 1603px;
    width: 100%;
    position: relative;
    margin: 310px auto 200px auto;
}

.body-section__providers-ellipse {
    position: absolute;
    z-index: -5;
    top: -100px;
    right: 0px;

}

.section__providers-grid {
    max-width: 1513px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    overflow: hidden;
}


.body-section__providers-services,
.body-section__providers-innovation,
.body-section__providers-complicated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 75px 50px;
    text-align: center;
    background-color: #F6F6F8;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */

}


/* about us */

.body-section__about {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 34.16px;
    position: relative;
}

.body-section__about img {
    margin-top: .6rem;
}

.body-section__about-wrapper {
    max-width: 855px;
    max-height: 531px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 180px;
    gap: 100px;
}

.body-section__about-content h1 {
    margin-bottom: 50px;
    font-size: 54px;
    line-height: 64.4px;
    font-style: bold;
    text-transform: capitalize;
}

.body-section__about-content h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.body-section__about-content p {
    font-style: normal;
    line-height: 21px;
    width: 720px;
    text-align: left;
    letter-spacing: 2%;
    font-weight: 400;
}

.body-section__about-content-link {
    color: #1B71FF;
}

.body-section__about-circle {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #F6F6F8;
    padding: 20px 70px;
    gap: 10px;
    position: relative;
    box-shadow: -40px -40px 80px rgba(255, 255, 255, 0.5), 40px 40px 70px rgba(225, 225, 230, 0.8), inset 0px 0px 50px rgba(217, 217, 217, 0.2);
    transform: rotate(5deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-section__about-circle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 261px;
    height: 179px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(5deg);
}

.body-section__about-circle-content h3 {
    font-size: 24px;
    font-weight: bold;
}

.body-section__about-circle-content p {
    font-size: 120px;
    font-weight: bold;
    color: #1B71FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Seatseen section */

.body-section__seatseen h1 {
    max-width: 1019px;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 80px auto;
}

.body-section__seatseen img {
    display: inline;
}

.body-section__seatseen-content {
    max-width: 1597px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.body-section__seatseen-content p {
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
}

.body-section__seatseen-content__clr-blue {
    color: #1B71FF;
}


/* section SERVICES */

.body-services {
    max-width: 1513px;
    width: 100%;
    margin-left: 150px;
    margin-top: 185px;
}

.body-services h3
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.body-services h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 64px;
    text-transform: capitalize;
}

.body-services__content-second {
    position: relative;
}

.body-services__content-first,
.body-services__content-second {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.body-services__content-second {
    margin-left: 215px;
    margin-top: 75px;
}

.body-services__content-first-box,
.body-services__content-second-box {
    background-color: #F6F6F8;
    max-width: 643px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -40px -40px 80px rgba(255, 255, 255, 0.8), 40px 40px 50px rgba(225, 225, 230, 0.8), inset 0px 0px 50px rgba(217, 217, 217, 0.2);
    padding: 50px;
    overflow: hidden;
}

.body-services__content-first-box img,
.body-services__content-first-box p,
.body-services__content-second-box img,
.body-services__content-second-box p {
    margin-bottom: 35px;
    text-align: center;

}
.body-services__content-first-box h2 {
    color: #1B71FF;
    font-size: 38px;
    font-weight: 700;
}

.body-services__content-ellipse {
    position: absolute;
    top: -259px;
    right: 55px;
    z-index: -5;
}

/* section Pricing */

.body-pricing {
    margin-top: 200px;
    margin-left: 150px;
    margin-bottom: 200px;
}

.body-pricing__title-content {
    max-width: 1596px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.body-pricing__title-content__headings {
    max-width: 855px;
    width: 100%;
}

.body-pricing__title-content__paragraph {
    max-width: 700px;
    width: 100%;
}

.body-pricing__title-content h3 {
    font-size: 24px;
}
.body-pricing__title-content h1 {
    font-size: 54px;
}

.body-pricing__plans {
    max-width: 1514px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.body-pricing__plans-basic,
.body-pricing__plans-premium {
    padding: 66px;
    background-color: #F6F6F8;
}

.body-pricing__plans-best {
    padding: 66px;
    background-color: #1B71FF;
}

.body-pricing__plans-basic h3,
.body-pricing__plans-premium h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.body-pricing__plans-best h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ffffff;
}

.body-pricing__plans-basic h1,
.body-pricing__plans-premium h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 30px;
}

.body-pricing__plans-best h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #ffffff;
}

.body-pricing__plans-basic h1 span,
.body-pricing__plans-premium h1 span {
    font-size: 24px;
    color: #1B71FF;
}

.body-pricing__plans-best h1 span {
    font-size: 24px;
    color: #ffffff;
}

.body-pricing__plans-basic__options li,
.body-pricing__plans-best__options li,
.body-pricing__plans-premium__options li {
    margin-bottom: 20px;
}

.body-pricing__plans-basic__options img,
.body-pricing__plans-best__options img,
.body-pricing__plans-premium__options img {
    margin-right: 1rem;
    display: inline-block;
}

.body-pricing__plans-basic__options p,
.body-pricing__plans-premium__options p {
    display: inline-block;
    font-size: 18px;
    letter-spacing: .4px;
}

.body-pricing__plans-best__options p {
    display: inline-block;
    font-size: 18px;
    letter-spacing: .4px;
    color: #ffffff;
}

.body-pricing__plans-basic button,
.body-pricing__plans-premium button {
    display: block;
    margin: 50px auto 0 auto;
}

.body-pricing__plans-best button {
    display: block;
    margin: 50px auto 0 auto;
    background-color: #ffffff;
    color: #1B71FF;
    box-shadow: 0px 10px 20px rgba(225, 225, 230, 0.5), inset 0px 0px 50px rgba(217, 217, 217, 0.2);
}


